{# isto +e um comentario #}

{#
    {{ }} - The string marking the beginning/ending of a print statement.
    {% %} - The string marking the beginning/ending of a block
#}

<html>
    <head>
        <title>{{ title }} </title>
    </head>
    <body>
        <h1>Things:</h1>
        {% for thing in things %}
        <div>
            <p>{{ thing.name }} -  localizado em {{ thing.local }} tem os sensores:</p>
            {% for sensor in thing.sensors %}
                <div>{{ sensor.sensor_name }}</div>
            {% endfor %}
        </div>
        {% endfor %}
    </body>
</html>

